{% extends 'base.html' %}


{% block body %}
<div class="container col-md-4 col-md-offset-4">
    <div class="card border-info shadow-lg p-3 mb-5 bg-white rounded mt-4">
        <h3 align="center">About</h3>
        <p>This is a simple web application that demonstrates how to build a web application using Flask.</p>
        <p>It has the following features:</p>
        <ul>
            <li>Signup</li>
            <li>Login</li>
            <li>Logout</li>
            <li>Profile</li>
            <li>Change Password</li>
        </ul>
    </div>
</div>
{% endblock %}