{% extends "base.html"%}

{% block head %}

<style>
  nav {
    background-color: #e3f2fd;
  }
  .fixed-bottom-button {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}
</style>

{% endblock %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_quiz">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_summary">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <form class="d-flex">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success me-3" type="submit">Search</button>
  </form>
</nav>

{% endblock %}

{% block content %}
   
<div class="container col-md-4 col-md-offset-4">
    <h3>Admin Quiz</h3>
    <div class="card border-info shadow-lg p-3 mb-5 bg-white rounded mt-3">
        <h3 align="center">Add Chapter</h3>
        <form method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
                <label for="desc" class = "form-label">Description</label>
                <input type="text" class="form-control" id="desc" name="desc">
            </div>
            <a href="/new_question" class="btn btn-outline-success">+ Question</a>
          </form>
    </div>
</div>
<a href="/new_quiz" class="btn btn-outline-success fixed-bottom-button">+ New Quiz</a>
{% endblock %}