{% extends "base.html" %} {% block head %}

<style>
  nav {
    background-color: #e3f2fd;
  }
  .fixed-bottom-button {
    position: fixed;
    bottom: 35px;
    width:150px;
    left: 50%;
    transform: translateX(-50%);
}
</style>

{% endblock %} 

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-light">
  <button
    class="navbar-toggler ms-2"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_quiz">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_summary">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <form class="d-flex ms-2">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success me-3" type="submit">Search</button>
  </form>
</nav>

{% endblock %} 

{% block content %} 
<div class="container mb-5">
  <div class="row">
    {% if subjects %} 
    {% for subject in subjects %}
    <div class="col-lg-6">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">{{ subject.name }}</h5>
          {% if subject.chapters %} 
          <table class="table table-light table-striped-columns">
            <thead>
              <tr>
                <th>Chapter Name</th>
                <th>No. of Questions</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for chapter in subject.chapters %}
              <tr>
                <td>{{chapter.name}}</td>
                <td>
                  {% set total_questions = 0 %}
                  {% for quiz in chapter.quizzes %}
                      {% set total_questions = total_questions + quiz.questions|length %}
                  {% endfor %}
                  {{ total_questions }}
                </td>
                <td>
                  <a href="/chapter/{{ chapter.id }}/edit" class="btn btn-outline-warning">Edit</a>
                  <a href="/chapter/{{ chapter.id }}/delete" class="btn btn-outline-danger">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p class="card-text">No chapters found</p>
          {% endif %}
          <a href="/new_chapter/{{ subject.id }}/" class="btn btn-outline-primary float-end">+ Chapter</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% endif %} 
  
<!----------------------- If subjects are not present------------------------>
  {% if not subjects %}
    <div class="text-center mt-4 fw-bold">No Subject Found</div>
  {% endif %}

</div>

<!---------------------- Subject adding button  ------------------------->

<a href="/new_subject" class="btn btn-warning fixed-bottom-button">+ Subject</a>

{% endblock %}
