{% extends "base.html" %}

{% block head %}
<style>
    nav {
        background-color: #bee1fa;
    }
</style>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler mx-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin_quiz">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin_summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 m-3">
            <h5 class="text-center">Subject Wise Top Scores</h5>
            <canvas id="bar"></canvas>
        </div>
        <div class="col-lg-4 m-3">
            <h5 class="text-center">Subject Wise User Attempts</h5>
            <canvas id="pie"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById("bar");
    const cte = document.getElementById("pie");

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: {{ subject_labels | tojson | safe }},
            datasets: [{
                barThickness: 30,
                maxBarThickness: 35,
                label: "Top Scores",
                data: {{ top_scores | tojson | safe }},
                borderWidth: 1,
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
                ],
            }],
        },
        options: {
            scales: {
            y: {
                beginAtZero: true,
            },
            },
        },
    });

    new Chart(cte, {
        type: "doughnut",
        data: {
            labels: {{ subject_labels | tojson | safe }},
            datasets: [{
                label: 'User Attempts',
                data: {{ attempts | tojson | safe }},
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(153, 102, 255)'
                ],
                hoverOffset: 4
            }]
        },
    });
</script>
{% endblock %}