{% extends "base.html"%}

{% block content %}
   
<div class="container col-md-4 col-md-offset-4">
    <div class="card border-info shadow-lg p-3 mb-5 bg-white rounded mt-3">
        <h3 class="card-header text-center" >New Quiz</h3>
        <form method="post">
            <div class="mb-3">
                <label for="chapter" class="form-label">Chapter Name: </label>
                <select class="form-select" name="selected_chapter" aria-label="Default select example">
                    <option selected disabled>Choose any</option>
                    {% for chapter in chapters %}
                    <option value="{{ chapter.id }}" {% if chapter.id == quiz.chapter_id %}selected{% endif %}>{{chapter.id}}) {{ chapter.name }}</option>
                    {% endfor %}
                </select>
                <label for="date" class = "form-label">Date : </label>
                <input type="date" class="form-control" id="date" name="date" value="{{ quiz.date }}">
                <label for="time" class = "form-label">Duration : </label>
                <input type="time" class="form-control" id="time" name="time" value="{{ quiz.duration }}">
            </div>
            <button type="submit" class="btn btn-outline-success me-3">Save</button>
            <a href="/admin_quiz" class="btn btn-outline-danger">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}