{% extends "base.html" %}

{% block content %}

    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="mb-4">Welcome to the Quiz Application</h1>
            <p class="lead mb-4">Test your knowledge and challenge yourself with our interactive quizzes.</p>
            <div class="btn-group-vertical">
                <a href="/login" class="btn btn-primary btn-lg mb-2">
                    Start here
                </a>
            </div>
        </div>
    </div>

{% endblock %}