{% extends "base.html" %}

{% block head %}

<style>
    #eye-icon {
        float:right;
        cursor: pointer;
        position: absolute;
        margin-left:auto;
        margin-top: -36px;
        right: 40px;
        z-index: 2;
    }
    img{
        width: 25px;
        height: 21px;
    }
</style>


{% endblock %}

{% block content %}
<div class="container col-md-4 col-md-offset-4">
    <div class="card border-info shadow-lg p-3 mb-5 bg-white rounded mt-3">
        <form method="Post">
            <h3 align="center">Login</h3>
            <div class="form-group">
                <label for="email">Email (Username)</label>
                <input id="email" name="email" class="form-control" placeholder="example@gmail.com" type="email" required focus>
            </div>
            <div class="form-group password-container">
                <label for="password">Password</label>
                <input id="password" name="password" class="form-control pe-5" placeholder="password" type="password" required>
                <i><img src="{{ url_for('static', filename='image/eye-close.png') }}" id="eye-icon" alt="eye-close" /></i>
            </div>
            <br/>
            <button type="submit" class="btn btn-outline-success">Login</button>
            <a href="./signup" class="ms-4">Create new user?</a>
        </form>
        </div>
</div>

<script>
    const eye_icon = document.getElementById('eye-icon');
    const password = document.getElementById('password');
    eye_icon.onclick = function() {
        if(password.type === 'password') {
            password.type = 'text';
            eye_icon.src = "{{ url_for('static', filename='image/eye-open.png') }}";
        } else {
            password.type = 'password';
            eye_icon.src = "{{ url_for('static', filename='image/eye-close.png') }}";
        }
    }
</script>
{% endblock %}