{% extends "base.html" %}

{% block content %}
<div class="container col-md-8 col-md-offset-4">
  <div class="card border-info shadow-lg p-3 mb-5 bg-white rounded mt-3">
    <div class="d-flex justify-content-between mb-3">
      <div class="border border-warning bg-warning rounded p-1 mb-3">Questions: {{ quiz.questions|length }}</div>
      <div class="border-danger bg-danger text-white rounded p-2 mb-3">
        Time Left: <span id="timer">{{ duration_seconds }}</span>
      </div>
      <div class="border border-info bg-info rounded p-1 mb-3">
        Duration (hh:mm): {{ quiz.duration }}
      </div>
    </div>
    <form id="quiz-form" method="POST" action="/submit_quiz/{{ quiz.id }}">
      {% for question in quiz.questions %}
      <div class="form-control mb-2">
        <div class="border border-primary rounded p-2 mb-2">
          <p>{{ question.id }}. {{ question.question_stmt }}</p>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option_a_{{ question.id }}" value="a">
          <label class="form-check-label" for="option_a_{{ question.id }}">{{ question.option_a }}</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option_b_{{ question.id }}" value="b">
          <label class="form-check-label" for="option_b_{{ question.id }}">{{ question.option_b }}</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option_c_{{ question.id }}" value="c">
          <label class="form-check-label" for="option_c_{{ question.id }}">{{ question.option_c }}</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option_d_{{ question.id }}" value="d">
          <label class="form-check-label" for="option_d_{{ question.id }}">{{ question.option_d }}</label>
        </div>
      </div>
      {% endfor %}
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-outline-success">Submit</button>
        <a href="/user" class="btn btn-outline-danger ms-2">Cancel</a>
      </div>
    </form>
  </div>
</div>

<script>
  let timer = {{ duration_seconds }};
  const timerElement = document.getElementById("timer");

  function updateTimer() {
    const minutes = Math.floor(timer / 60);
    const seconds = timer % 60;
    timerElement.innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
    if (timer <= 0) {
      clearInterval(timerInterval);
      document.getElementById("quiz-form").submit();
    }
    timer--;
  }

  const timerInterval = setInterval(updateTimer, 1000);
</script>
{% endblock %}