{% extends "base.html" %} {% block head %}
<style>
  nav {
    background-color: #e3f2fd;
  }
</style>
{% endblock %} {% block nav %}

<nav class="navbar navbar-expand-lg navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_scores">Scores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_summary">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <form class="d-flex">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success me-3" type="submit">Search</button>
  </form>
</nav>

{% endblock %} {% block content %}
<div class="container mt-5">
  <div class="bg-white p-4 rounded">
    <h2>Upcoming Quizzes</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>No. of Questions</th>
          <th>Date</th>
          <th>Duration (hh:mm)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>15</td>
          <td>16/02/2025</td>
          <td>00:15</td>
          <td>
            <a href="/quiz_view" class="btn btn-outline-primary btn-sm">View</a>
            <a href="/quiz_start" class="btn btn-outline-success btn-sm">Start</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
