{% extends "base.html" %} {% block head %}
<style>
  nav {
    background-color: #e3f2fd;
  }
</style>
{% endblock %} {% block nav %}

<nav class="navbar navbar-expand-lg navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_scores">Scores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_summary">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <form class="d-flex">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success me-3" type="submit">Search</button>
  </form>
</nav>

{% endblock %} {% block content %}
<div class="container mt-5">
  <div class="card shadow-lg bg-white p-4 rounded">
    <h3 class="text-center">All Quizzes</h3>
    <table class="table table-striped">
      {% if quizzes %} 
      <thead>
        <tr>
          <th>ID</th>
          <th>No. of Questions</th>
          <th>Date</th>
          <th>Duration (hh:mm)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
        <tr>
          <td>{{ quiz.id }}</td>
          <td>{{ quiz.questions|length }}</td>
          <td>{{ quiz.date.strftime('%Y-%m-%d') }}</td>
          <td>{{ quiz.duration }}</td>
          <td>
            <a href="/quiz_view/{{ quiz.id }}/" class="btn btn-outline-primary">View</a>
            <a href="/quiz_start/{{ quiz.id }}/" class="btn btn-outline-warning">Start</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3 class="text-center mt-5">No Questions found</h3>
    {% endif %}
  </div>
</div>

{% endblock %}
